@charset "utf-8";
/* 헤더 */
.header {
  position: relative;
  display: block;
  border-bottom: 2px solid rgb(223, 0, 17);
}
.header .inner {
  padding: 0;
  height: 185px;
}
/* header-up */
.member-list {
  display: flex;
  height: 30px;
  justify-content: flex-end;
  gap: 30px;
  font-size: 12px;
  padding-top: 8px;
  color: #666;
  cursor: pointer;
}
/* 헤더중단 */

/* 헤더중단좌측 */
.header-mid-left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 29px;
  padding-bottom: 29px;
  align-items: center;
}
/* 로고 */
.logo {
  width: 132.14px;
  height: 50px;
  background: url("../header/images/default_logo.svg") no-repeat center / contain;
}
 
/* 호버버튼 */
.hoverbox {
  display: flex;
  width: 170px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 100px;
  overflow: hidden;
  font-size: 16px;
  align-items: center;
}
.hoverbox .martbtn {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(223, 0, 17);
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 87px;
  padding-left: 5px;
}
.hoverbox .delbtn {
  color: rgb(63, 178, 102);
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  overflow: hidden;
  height: 40px;
  width: 75px;
  font-weight: 600;
  padding-right: 6px;
}



/* 검색창 */
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 416px;
  height: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  padding: 0 15px;
}
.search-text {
  width: 400px;
  border: 0;
  outline: 0;
}
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 14px;
}
.search-bt {
  width: 30px;
  height: 30px;
  background: url("../header/images/search_pc-icon.svg") no-repeat center/ contain;
  border: none;
  cursor: pointer;
}
.search-reset {
  width: 20px;
  height: 20px;
  background: url("../header/images/icon_search_delete.png") no-repeat center / contain;
  border: none;
  font-size: 0;
}

/* 자주구매/장바구니/마이페이지 */
.member-bt {
  display: flex;
  width: 250px;
  height: 49px;
  justify-content: center;
  gap: 28px;
  align-items: center;
  cursor: pointer;
  
}
.member-bt li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-bt li a img {
  padding-left: 10px;
  padding-bottom: 5px;
}

.member-bt span {
  font-size: 12px;
  color: #222;
}
.member-bt .mypage {
  padding-left: 18px;
}


.nav {
  position: relative;
  display: block;
  max-width: 1000px;
  font-size: 15px;
  color: #222;
  height: 42px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: -0.5px;
}
.nav li {
  position: relative;
  display: block;
}
.nav li:nth-child(2)::after {
  content: "";
  width: 5px;
  height: 5px;
  background: rgb(223, 7, 16);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
}
.nav li:nth-child(10)::after {
  content: "";
  width: 5px;
  height: 5px;
  background: rgb(223, 7, 16);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
}
.nav li a:hover{
  color: rgb(223, 7, 16);
  font-weight: bold;
}
.category{
  vertical-align:baseline;
  padding-right: 2px;
}
/* 880 반응형 */
.header-up-tab{
  display: none;
  max-width: 880px;
  width: 100%;
}
.logo880{
  margin-left: 15px;
}
.logo880 img{
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  /* display: block */
}

.header-up-tab-flex{
  z-index: 4000;
    display: flex;
    position: relative;
    height: 54px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

/* 호버버튼 */
.hoverbox2 {
  
  width: 150px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 100px;
  overflow: hidden;
  font-size: 14px;
  align-items: center;
}
.hoverbox2 .martbtn2 {
  color: #fff;
  font-weight: bold;
  background-color: rgb(223, 0, 17);
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 78px;
  padding-left: 5px;
}
.hoverbox2 .delbtn2 {
  color: rgb(63, 178, 102);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  overflow: hidden;
  /* height: 40px; */
  width: 62px;
  font-weight: 600;
  padding-right: 6px;
}
/* 헤더하단메뉴 */
.css-oex242{
  display: none;
}
.header-down {
  width: 100%;
  
}
.header-down-tab{
  display: none;
}
.categorywrap{
  position: relative;
  display: none;
  width: 100%;
  height: 1000px;
  background-color: aqua;
  z-index: 9999;
  top: 8px;
  left: 0;
}
.categorywrap.showlist{
  display: block;
}
.category-list{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 25px;
}
.category-list li{
  padding: 10px 0px;
}
.category-list li a:hover{
  color: red;
}