@charset "utf-8";
/* 공동 */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'NanumBarunGothic', Dotum, Gulim, Tahoma, Verdana, AppleGothic, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    word-spacing: 0.1em;
    display: block;
    margin: auto;
    height: 100%;
    background-color: #f4f4f4;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

a{
    color: inherit;
    vertical-align: middle;
}
/* 홈플로고 */
#ui-header {
    height: 120px;
    margin: 0 -1px;
    /* border-bottom: 1px solid #ddd; */
    background-color: #f4f4f4;
    width: 100%;
}
#ui-header .tit-page.type-fixed {
    position: static;
    border-bottom: 0;
    background-color: #f4f4f4;
    text-align: center;
}
#ui-header h1, #ui-header h1.hide {
    display: block;
    padding-top: 48px;
    padding-bottom: 10px;
}
#ui-header h1 a {
    display: inline-block;
    width: 186px;
    height: 37px;
    background: url(/image/login/images/logo_red.png) no-repeat;
    background-size: auto;
    font-size: 0;
    color: transparent;
}
#ui-header .back, #ui-header .home {
    display: none;
}
/* mainwrap */
#mainwrap {
    position: relative;
    width: 480px;
    min-height: 720px;
    margin: 0 auto 40px;
    border: 1px solid #ddd;
    background-color: #fff;
}
/* 아이디/휴대폰 */
.join2.type .tab-ty2 {
    width: 480px;
    /* margin: 0; */
}
.tab-ty2 {
    overflow: hidden;
    margin: 0 -15px;
}
.tab-ty2 li {
    float: left;
    width: 50%;
}
.tab-ty2 li a {
    height: 70px;
    font-size: 18px;
    line-height: 70px;
    background: #fff;
    border-left: none;
}
.tab-ty2 li.on a {
    border-bottom: 2px solid #333;
    color: #333;
}
.tab-ty2 .on a {
    position: relative;
    z-index: 1;
    border-bottom-color: #fff;
    background-color: #fff;
    color: #111;
}
/* 필드셋 */
fieldset {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}
legend {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    padding: 0;
}
.join2.type ul.list-field {
    margin-top: 36px;
    margin-bottom: 0;
}
ul.list-field li {
    position: relative;
    width: 100%;
    min-height: 36px;
    padding: 9px 0;
    border-bottom: 1px solid #ddd;
    zoom: 1;
}
ul.list-field li.full .col {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
ul.list-field li .col:first-of-type label {
    left: 0;
}
ul.list-field li .col label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 9px;
    padding-left: 6px;
    font-size: 16px;
    color: #999;
    line-height: 36px;
    white-space: nowrap;
}
label {
    vertical-align: middle;
}
