@charset "utf-8";
.payment-top{
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* 결제혜택 박스 */
.payment{
   
    position: relative;
    display: block;
}
.payment .inner{
    
position: relative;
    display: block;
    width: 100%;
    max-width: 1000px;
    
}
.payment-slide{
    padding-left: 20px;
}
.payment-wrap{

    display: flex;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    
    
}
.payment-list-wrap{
    width: 150px;
    
    height: 111px;
    
    border: 1px solid rgb(223, 0, 17);
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
    .css-14hyc77 {
    width: 150px;
    height: 111px;
    border: 1px solid rgb(223, 0, 17);
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    
}
    

.pay4{
    width: 150px;
    height: 111px;
    border: 1px solid #64594E;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.pay5{
    width: 150px;
    height: 111px;
    border: 1px solid #0D4399;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.pay6{
    width: 150px;
    height: 111px;
    border: 1px solid #FFEB00;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.pay7{
    width: 150px;
    height: 111px;
    border: 1px solid #0064FF;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
   
}
.pay8{
    width: 150px;
    height: 111px;
    border: 1px solid #3FB266;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    
}
.payment-info-list li{
    width: 100%;
}
.payment-info-list li h3{
    font-size: 17px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    width: 100%;
    height: 19px;
    margin-bottom: 6px;
    margin-top: 6px;
    letter-spacing: -0.5px;
    overflow: hidden;
}
.payment-info-list li span{
    font-size: 12px;
    font-weight: 500;
    height: 15px;
    width: 100%;
    color: rgb(102, 102, 102);
    overflow: hidden;
    letter-spacing: -0.4px;
}


.payment .swiper-slide{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    height: 111px;
    max-height: 111px;
    min-height: 111px;
}