@charset "utf-8";
/* 퀵메뉴 */
.quickmenu {
  position: relative;
  display: block;
  height: 133.03px;
  margin-bottom: 30px;
}
.quickmenu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 85px;
    padding: 15px 0px ;
}

.quickmenu li a {
  display: block;
  padding: 0px 6px;
}
.quickmenu .thumb img {
  width: 100%;
  height: 100%;
}
.quickmenu .thumb {
  display: block;
  margin: 0 auto;
  width: 57px;
  height: 57px;
}
.quickmenu .quickmenu-name {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.18;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.quickmenu li {
    margin-top: 20px;
    text-align: center;
    color: rgb(51, 51, 51);
    vertical-align: top;
}
/* 880 */

.quickmenu-list-tab1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* min-height: 85px; */
  padding: 15px 30px 15px 0px;
}
.quickmenu-list-tab2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* min-height: 85px; */
  padding: 15px 30px 15px 0px;
}
.quickmenu2{
  display: none;
}

.quickmenu2 li a {
  width: 100px;
  display: block;
  padding: 0px 6px;
}

.quickmenu2 .thumb img {
  width: 100%;
  height: 100%;
}
.quickmenu2 .thumb {
  display: block;
  margin: 0 auto;
  width: 57px;
  height: 57px;
}
.quickmenu2 .quickmenu-name {
  font-size: 11px;
  margin-top: 10px;
  line-height: 1.18;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
  
.quickmenu2 li {
    width: 10%;
    
    margin-top: 20px;
    text-align: center;
    color: rgb(51, 51, 51);
    vertical-align: top;
}
