@charset "utf-8";
/* 어머, 이건 꼭 사자! 사자GO */
/* 로고 */
.sajago{
    padding-top: 50px;
    display: block;
    position: relative;
}
.sajagologo{
    width: 100%;
    height: 82px;
    background: url(../image/tit_lion_165.png) left center / 375px no-repeat
}